In [1]:
!pip install pathlib2
!pip install python-Levenshtein
!pip install --upgrade xlrd
!pip install git+https://github.com/InseeFrLab/Py-Insee-Data.git

Collecting pathlib2
  Downloading pathlib2-2.3.7.post1-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: six in /opt/mamba/lib/python3.10/site-packages (from pathlib2) (1.16.0)
Installing collected packages: pathlib2
Successfully installed pathlib2-2.3.7.post1
Collecting python-Levenshtein
  Downloading python_Levenshtein-0.20.8-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.20.8
  Downloading Levenshtein-0.20.8-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (174 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 174.1/174.1 kB 6.6 MB/s eta 0:00:00
Collecting rapidfuzz<3.0.0,>=2.3.0
  Downloading rapidfuzz-2.13.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 23.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.20.8 python-Levenshtein-0.20.8 rapidfuzz-2.13.2
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 7.0 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Collecting git+https://github.com/InseeFrLab/Py-Insee-Data.git
  Cloning https://github.com/InseeFrLab/Py-Insee-Data.git to /tmp/pip-req-build-zy9c8obs
  Running command git clone --filter=blob:none --quiet https://github.com/InseeFrLab/Py-Insee-Data.git /tmp/pip-req-build-zy9c8obs
  Resolved https://github.com/InseeFrLab/Py-Insee-Data.git to commit 02976e01cd0e8e99630e43590910692fbde790bc
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting unidecode>=1.1.0
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 9.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.24.2 in /opt/mamba/lib/python3.10/site-packages (from pynsee==0.1.1) (1.5.1)
Collecting pathlib
  Downloading pathlib-1.0.1-py3-none-any.whl (14 kB)
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: tqdm>=4.56.0 in /opt/mamba/lib/python3.10/site-packages (from pynsee==0.1.1) (4.64.1)
Requirement already satisfied: urllib3 in /opt/mamba/lib/python3.10/site-packages (from pynsee==0.1.1) (1.26.11)
Requirement already satisfied: shapely<2.0,>=1.8.0 in /opt/mamba/lib/python3.10/site-packages (from pynsee==0.1.1) (1.8.5.post1)
Requirement already satisfied: requests>=2.23 in /opt/mamba/lib/python3.10/site-packages (from pynsee==0.1.1) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=0.24.2->pynsee==0.1.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=0.24.2->pynsee==0.1.1) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/mamba/lib/python3.10/site-packages (from pandas>=0.24.2->pynsee==0.1.1) (1.23.5)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/mamba/lib/python3.10/site-packages (from requests>=2.23->pynsee==0.1.1) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/mamba/lib/python3.10/site-packages (from requests>=2.23->pynsee==0.1.1) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/mamba/lib/python3.10/site-packages (from requests>=2.23->pynsee==0.1.1) (2022.9.24)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->pynsee==0.1.1) (1.16.0)
Building wheels for collected packages: pynsee
  Building wheel for pynsee (pyproject.toml) ... done
  Created wheel for pynsee: filename=pynsee-0.1.1-py3-none-any.whl size=9804454 sha256=6b2ce6097af590870db0278156c178819849314388cde2324e16470346422fb2
  Stored in directory: /tmp/pip-ephem-wheel-cache-8dfkhqxp/wheels/d5/60/69/031da6e25434c8b85e049f8f93ed11c2bfe3da9369f7a1dfba
Successfully built pynsee
Installing collected packages: pathlib, appdirs, unidecode, pynsee
Successfully installed appdirs-1.4.4 pathlib-1.0.1 pynsee-0.1.1 unidecode-1.3.6

In [2]:
import requests
url = 'https://github.com/InseeFrLab/Py-Insee-Data/archive/refs/heads/master.zip'
r = requests.get(url)
with open("pynsee.zip" , 'wb') as zipfile:
    zipfile.write(r.content)

In [3]:
!pip install --ignore-installed pynsee.zip
!pip install python-Levenshtein
!pip install openpyxl

Processing ./pynsee.zip
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting pathlib
  Using cached pathlib-1.0.1-py3-none-any.whl (14 kB)
Collecting unidecode>=1.1.0
  Using cached Unidecode-1.3.6-py3-none-any.whl (235 kB)
Collecting appdirs>=1.4.4
  Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting urllib3
  Downloading urllib3-1.26.13-py2.py3-none-any.whl (140 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.6/140.6 kB 3.3 MB/s eta 0:00:00a 0:00:01
Collecting tqdm>=4.56.0
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 kB 2.6 MB/s eta 0:00:00
Collecting shapely<2.0,>=1.8.0
  Downloading Shapely-1.8.5.post1-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 4.4 MB/s eta 0:00:0000:0100:01
Collecting pandas>=0.24.2
  Downloading pandas-1.5.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 11.6 MB/s eta 0:00:0000:0100:01
Collecting requests>=2.23
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 kB 26.4 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 498.1/498.1 kB 15.5 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.23.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 13.7 MB/s eta 0:00:0000:0100:01
Collecting python-dateutil>=2.8.1
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.7/247.7 kB 18.4 MB/s eta 0:00:00
Collecting charset-normalizer<3,>=2
  Downloading charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.5/61.5 kB 28.1 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.9.24-py3-none-any.whl (161 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 161.1/161.1 kB 29.4 MB/s eta 0:00:00
Collecting six>=1.5
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Building wheels for collected packages: pynsee
  Building wheel for pynsee (pyproject.toml) ... done
  Created wheel for pynsee: filename=pynsee-0.1.1-py3-none-any.whl size=9804454 sha256=8c1fb2953b210bb5837d752ade588d6bf2db15a96b9bed0ae09c7c7416294f3b
  Stored in directory: /tmp/pip-ephem-wheel-cache-z04dq8_d/wheels/d9/ab/f9/ef7a559f8aeedffdd454f426e699fdf71344e0627dc30f0970
Successfully built pynsee
Installing collected packages: pytz, pathlib, appdirs, urllib3, unidecode, tqdm, six, shapely, numpy, idna, charset-normalizer, certifi, requests, python-dateutil, pandas, pynsee
Successfully installed appdirs-1.4.4 certifi-2022.9.24 charset-normalizer-2.1.1 idna-3.4 numpy-1.23.5 pandas-1.5.2 pathlib-1.0.1 pynsee-0.1.1 python-dateutil-2.8.2 pytz-2022.6 requests-2.28.1 shapely-1.8.5.post1 six-1.16.0 tqdm-4.64.1 unidecode-1.3.6 urllib3-1.26.13
Requirement already satisfied: python-Levenshtein in /opt/mamba/lib/python3.10/site-packages (0.20.8)
Requirement already satisfied: Levenshtein==0.20.8 in /opt/mamba/lib/python3.10/site-packages (from python-Levenshtein) (0.20.8)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.3.0 in /opt/mamba/lib/python3.10/site-packages (from Levenshtein==0.20.8->python-Levenshtein) (2.13.2)
Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 8.1 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pynsee.download

In [5]:
#file_name = "ival-2021---complet-xlsx-112652.xlsx"
df = pd.read_excel ("ival-2021---complet-xlsx-112652.xlsx", header = [0,1])
#print(df.head())

#df.loc[:,("Informations établissement", "UAI")]

fichier_LGT = df.copy()
fichier_LGT = fichier_LGT.drop (["Valeur ajoutée du taux d'accès"], axis = 1)
fichier_LGT = fichier_LGT.drop(["Taux d'accès attendus", "Taux d'accès bruts", "Effectifs à la rentrée 2021", "Taux de mentions attendus", "Taux de réussite attendus"], axis = 1)

/tmp/ipykernel_130/635733873.py:8: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  fichier_LGT = fichier_LGT.drop (["Valeur ajoutée du taux d'accès"], axis = 1)
/tmp/ipykernel_130/635733873.py:9: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  fichier_LGT = fichier_LGT.drop(["Taux d'accès attendus", "Taux d'accès bruts", "Effectifs à la rentrée 2021", "Taux de mentions attendus", "Taux de réussite attendus"], axis = 1)

In [6]:
df2 = pd.read_excel ("ival-2021---complet-xlsx-112652.xlsx", sheet_name = 1, header = [0,1])
#print(df2.head())

fichier_LP = df2.copy()
fichier_LP = fichier_LP.drop (["Valeur ajoutée du taux d'accès", "Taux d'accès attendus", "Taux d'accès bruts", "Effectifs à la rentrée 2021", "Taux de mentions attendus", "Taux de réussite attendus"], axis = 1)
#print(fichier_LP.head())

/tmp/ipykernel_130/2210916688.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  fichier_LP = fichier_LP.drop (["Valeur ajoutée du taux d'accès", "Taux d'accès attendus", "Taux d'accès bruts", "Effectifs à la rentrée 2021", "Taux de mentions attendus", "Taux de réussite attendus"], axis = 1)

In [7]:
fichier_LGT = fichier_LGT.fillna(0)
#fichier.loc[:,("Nombre d'élèves présents au Bac","Somme Pro")] = fichier["Nombre d'élèves présents au Bac", "STMG"] + fichier["Nombre d'élèves présents au Bac", "STI2D"] + fichier["Nombre d'élèves présents au Bac", "STD2A"]+fichier["Nombre d'élèves présents au Bac", "STL"]+df_rose["Nombre d'élèves présents au Bac", "ST2S"]+fichier["Nombre d'élèves présents au Bac", "S2TMD"]+fichier["Nombre d'élèves présents au Bac", "STHR"]#
fichier_LGT.loc[:,("Nombre d'élèves présents au Bac","Somme Techno")] = fichier_LGT["Nombre d'élèves présents au Bac", 'TOTAL']- fichier_LGT["Nombre d'élèves présents au Bac", "GNLE"]
fichier_LGT["Nombre d'élèves présents au Bac"]

       GNLE   STMG  STI2D  STD2A   STL  ST2S  S2TMD  STHR  TOTAL  Somme Techno
0      54.0    0.0    0.0    0.0   0.0   0.0    0.0   0.0     54           0.0
1     122.0   28.0    0.0    0.0   0.0  50.0    0.0   0.0    200          78.0
2      98.0    0.0   41.0    0.0  26.0   0.0    0.0   0.0    165          67.0
3     174.0   60.0    0.0    0.0   0.0   0.0    0.0   0.0    234          60.0
4     160.0    0.0   54.0    0.0   0.0   0.0    0.0   0.0    214          54.0
...     ...    ...    ...    ...   ...   ...    ...   ...    ...           ...
2311  246.0  105.0    0.0    0.0  47.0  56.0    0.0   0.0    454         208.0
2312  244.0  116.0    0.0    0.0   0.0   0.0    0.0   0.0    360         116.0
2313  325.0    0.0    0.0    0.0   0.0   0.0    0.0   0.0    325           0.0
2314  221.0    0.0    0.0    0.0   0.0  30.0    0.0   0.0    251          30.0
2315  162.0    0.0   43.0    0.0  19.0   0.0    0.0   0.0    224          62.0

[2316 rows x 10 columns]

In [11]:
#test = ((fichier_LGT["Taux de réussite bruts", "TOTAL"]*fichier_LGT["Nombre d'élèves présents au Bac", "TOTAL"])-(fichier_LGT["Taux de réussite bruts", "GNLE"]*fichier_LGT["Nombre d'élèves présents au Bac", "GNLE"]))/fichier_LGT["Nombre d'élèves présents au Bac", "Somme Techno"]
#fichier_LGT.loc[(fichier_LGT["Nombre d'élèves présents au Bac","Somme Techno"] > 0.5),("Taux de réussite bruts", "Taux brut techno")] = (fichier_LGT["Taux de réussite bruts", "TOTAL"]*fichier_LGT["Nombre d'élèves présents au Bac", "TOTAL"] - fichier_LGT["Taux de réussite bruts", "GNLE"]*fichier_LGT["Nombre d'élèves présents au Bac", "GNLE"])/fichier_LGT["Nombre d'élèves présents au Bac", "Somme Techno"]#
stmg = fichier_LGT["Taux de réussite bruts", "STMG"]*fichier_LGT["Nombre d'élèves présents au Bac", "STMG"]
sti2d = fichier_LGT["Taux de réussite bruts", "STI2D"]*fichier_LGT["Nombre d'élèves présents au Bac", "STI2D"]
std2a = fichier_LGT["Taux de réussite bruts", "STD2A"]*fichier_LGT["Nombre d'élèves présents au Bac", "STD2A"]
stl = fichier_LGT["Taux de réussite bruts", "STL"]*fichier_LGT["Nombre d'élèves présents au Bac", "STL"]
st2s = fichier_LGT["Taux de réussite bruts", "ST2S"]*fichier_LGT["Nombre d'élèves présents au Bac", "ST2S"]
s2tmd = fichier_LGT["Taux de réussite bruts", "S2TMD"]*fichier_LGT["Nombre d'élèves présents au Bac", "S2TMD"]
sthr = fichier_LGT["Taux de réussite bruts", "STHR"]*fichier_LGT["Nombre d'élèves présents au Bac", "STHR"]
taux_tech_brut = (stmg + sti2d + std2a + stl + st2s + s2tmd + sthr)/fichier_LGT["Nombre d'élèves présents au Bac","Somme Techno"]


fichier_LGT.loc[(fichier_LGT["Nombre d'élèves présents au Bac","Somme Techno"] > 0.5),("Taux de réussite bruts", "Taux brut techno")] = taux_tech_brut
fichier_LGT["Taux de réussite bruts"]
#pb avec test à cause des arrondis dans TOTAL (int pas float), résolu avec taux_techno #
#on ne peut pas le faire avec les taux de réussite attendus car on les a enlevé #
#on ne peut pas le faire avec la valeur ajoutée car mauvais type d’objet (on peut en tout cas le faire si besoin à partir du taux attendu et brut si on remet le taux attendu#

,GNLE,STMG,STI2D,STD2A,STL,ST2S,S2TMD,STHR,TOTAL,Taux brut techno
0,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98,NaN
1,99.0,96.0,0.0,0.0,0.0,92.0,0.0,0.0,97,93.435897
2,100.0,0.0,100.0,0.0,96.0,0.0,0.0,0.0,99,98.447761
3,97.0,93.0,0.0,0.0,0.0,0.0,0.0,0.0,96,93.000000
4,99.0,0.0,96.0,0.0,0.0,0.0,0.0,0.0,99,96.000000
...,...,...,...,...,...,...,...,...,...,...
2311,99.0,99.0,0.0,0.0,96.0,91.0,0.0,0.0,98,96.168269
2312,100.0,99.0,0.0,0.0,0.0,0.0,0.0,0.0,100,99.000000
2313,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100,NaN
2314,99.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,99,100.000000
2315,99.0,0.0,93.0,0.0,100.0,0.0,0.0,0.0,98,95.145161

In [8]:
dftotale = fichier_LGT.merge(fichier_LP, how='outer', on=[('Informations établissement','UAI')])
print(display(dftotale.head(20)))

   Informations établissement Informations établissement_x  \
                          UAI                     Académie
0                    0040003G                AIX-MARSEILLE
1                    0040027H                AIX-MARSEILLE
2                    0040490L                AIX-MARSEILLE
3                    0040010P                AIX-MARSEILLE
4                    0040533H                AIX-MARSEILLE
5                    0040023D                AIX-MARSEILLE
6                    0133425C                AIX-MARSEILLE
7                    0130001F                AIX-MARSEILLE
8                    0133525L                AIX-MARSEILLE
9                    0131319N                AIX-MARSEILLE
10                   0130002G                AIX-MARSEILLE
11                   0131596P                AIX-MARSEILLE
12                   0131862D                AIX-MARSEILLE
13                   0131391S                AIX-MARSEILLE
14                   0131320P                AIX-MARSEILLE
15                   0133395V                AIX-MARSEILLE
16                   0130003H                AIX-MARSEILLE
17                   0130010R                AIX-MARSEILLE
18                   0130011S                AIX-MARSEILLE
19                   0131549N                AIX-MARSEILLE

                                                                      \
              Département                              Etablissement
0   ALPES DE HTE PROVENCE  LYCEE ANDRE HONNORAT (GENERAL ET TECHNO.)
1   ALPES DE HTE PROVENCE                 LYCEE ALEXANDRA DAVID NEEL
2   ALPES DE HTE PROVENCE              LYCEE PIERRE-GILLES DE GENNES
3   ALPES DE HTE PROVENCE                      LYCEE FELIX ESCLANGON
4   ALPES DE HTE PROVENCE      LYCEE LES ISCLES (GENERAL ET TECHNO.)
5   ALPES DE HTE PROVENCE      LYCEE PAUL ARENE (GENERAL ET TECHNO.)
6        BOUCHES DU RHONE                               LYCEE CELONY
7        BOUCHES DU RHONE      LYCEE EMILE ZOLA (GENERAL ET TECHNO.)
8        BOUCHES DU RHONE                         LYCEE GEORGES DUBY
9        BOUCHES DU RHONE                        LYCEE NATIVITE (LA)
10       BOUCHES DU RHONE                         LYCEE PAUL CEZANNE
11       BOUCHES DU RHONE                      LYCEE POILUS (BD DES)
12       BOUCHES DU RHONE                     LYCEE SACRE COEUR (LE)
13       BOUCHES DU RHONE         LYCEE ST ELOI (GENERAL ET TECHNO.)
14       BOUCHES DU RHONE              LYCEE STE CATHERINE DE SIENNE
15       BOUCHES DU RHONE       LYCEE STE MARIE (GENERAL ET TECHNO.)
16       BOUCHES DU RHONE    LYCEE VAUVENARGUES (GENERAL ET TECHNO.)
17       BOUCHES DU RHONE      LYCEE MONTMAJOUR (GENERAL ET TECHNO.)
18       BOUCHES DU RHONE                              LYCEE PASQUET
19       BOUCHES DU RHONE                LYCEE FREDERIC JOLIOT-CURIE

                                                    \
              Ville       UAI Code commune Secteur
0     BARCELONNETTE  0040003G        04019      PU
1   DIGNE LES BAINS  0040027H        04070      PU
2   DIGNE LES BAINS  0040490L        04070      PU
3          MANOSQUE  0040010P        04112      PU
4          MANOSQUE  0040533H        04112      PU
5          SISTERON  0040023D        04209      PU
6   AIX EN PROVENCE  0133425C        13001      PR
7   AIX EN PROVENCE  0130001F        13001      PU
8   AIX EN PROVENCE  0133525L        13001      PU
9   AIX EN PROVENCE  0131319N        13001      PR
10  AIX EN PROVENCE  0130002G        13001      PU
11  AIX EN PROVENCE  0131596P        13001      PU
12  AIX EN PROVENCE  0131862D        13001      PR
13  AIX EN PROVENCE  0131391S        13001      PR
14  AIX EN PROVENCE  0131320P        13001      PR
15  AIX EN PROVENCE  0133395V        13001      PR
16  AIX EN PROVENCE  0130003H        13001      PU
17            ARLES  0130010R        13004      PU
18            ARLES  0130011S        13004      PU
19          AUBAGNE  0131549N        13005      PU

   Nombre d'élèves présents au Bac_x         ...  \
                                GNLE   STMG  ...
0                               54.0    0.0  ...
1                              122.0   28.0  ...
2                               98.0    0.0  ...
3                              174.0   60.0  ...
4                              160.0    0.0  ...
5                               97.0   12.0  ...
6                                0.0   29.0  ...
7                              369.0   71.0  ...
8                              419.0   45.0  ...
9                              227.0    0.0  ...
10                             427.0  137.0  ...
11                             127.0    0.0  ...
12                             196.0   33.0  ...
13                              28.0    0.0  ...
14                              45.0    0.0  ...
15                               0.0   28.0  ...
16                             313.0    0.0  ...
17                             160.0   64.0  ...
18                             244.0    0.0  ...
19                             363.0  108.0  ...

   Valeur ajoutée de taux de mentions_y                                       \
                      Matériaux souples Mécanique, électricité, électronique
0                                   NaN                                  NaN
1                                   NaN                                  NaN
2                                   NaN                                  NaN
3                                   NaN                                  NaN
4                                   NaN                                  +19
5                                   NaN                                  NaN
6                                   NaN                                  NaN
7                                   NaN                                  NaN
8                                   NaN                                  NaN
9                                   NaN                                  NaN
10                                  NaN                                  NaN
11                                  NaN                                  NaN
12                                  NaN                                  NaN
13                                  NaN                                  +12
14                                  NaN                                  NaN
15                                  NaN                                  NaN
16                                  NaN                                   -3
17                                  NaN                                  NaN
18                                  NaN                                  NaN
19                                  NaN                                  NaN

                                                               \
   Spécialités plurivalentes des services Échanges et gestion
0                                     NaN                 +12
1                                     NaN                 NaN
2                                     NaN                 NaN
3                                     NaN                 NaN
4                                     NaN                 NaN
5                                     +25                 NaN
6                                      -5                  -5
7                                     NaN                 NaN
8                                     NaN                 NaN
9                                     NaN                 NaN
10                                    NaN                 NaN
11                                    NaN                 NaN
12                                    NaN                 NaN
13                                    NaN                 NaN
14                                    NaN                 NaN
15                                     +4                  +2
16                                    NaN                 NaN
17                                      0                   0
18                                    NaN                 NaN
19                                    NaN                 NaN

                                                        \
   Communication et information Services aux personnes
0                           NaN                    NaN
1                           NaN                    NaN
2                           NaN                    NaN
3                           NaN                    NaN
4                           NaN                    NaN
5                           NaN                     -8
6                            +6                     +2
7                           NaN                    +14
8                           NaN                    NaN
9                           NaN                    NaN
10                          NaN                    NaN
11                          NaN                    NaN
12                          NaN                    NaN
13                          NaN                    NaN
14                          NaN                    NaN
15                          NaN                    NaN
16                          NaN                    NaN
17                          NaN                    -24
18                          NaN                    NaN
19                          NaN                    NaN


   Services à la collectivité Ensemble Production Ensemble Services TOTAL
0                         NaN                 NaN               +12   +12
1                         NaN                 NaN               NaN   NaN
2                         NaN                 NaN               NaN   NaN
3                         NaN                 NaN               NaN   NaN
4                         NaN                 +19               NaN   +19
5                         NaN                 +12               +10   +11
6                         NaN                 NaN                -1    -1
7                         NaN                 NaN               +14   +14
8                         NaN                 NaN               NaN   NaN
9                         NaN                 NaN               NaN   NaN
10                        NaN                 NaN               NaN   NaN
11                        NaN                 NaN               NaN   NaN
12                        NaN                 NaN               NaN   NaN
13                        NaN                 +12               NaN   +12
14                        NaN                 NaN               NaN   NaN
15                        NaN                 NaN                +3    +3
16                        NaN                  -1               NaN    -1
17                        NaN                  ND                -2    +1
18                        NaN                 NaN               NaN   NaN
19                        NaN                 NaN               NaN   NaN

[20 rows x 125 columns]

None

In [9]:
df_communes = pd.read_excel("FILO2019_DEC_COM.xlsx", sheet_name = 1, header=[4,5])
print(display(df_communes.head()))
df_com = df_communes.copy()
df_com = df_com.drop(['PMIMP19', 'Q119', 'Q319','Q3_Q1','D119', 'D219', 'D319', 'D419', 'D619', 'D719', 'D819', 'D919', 'RD', 'S80S2019', 'GI19', 'PACT19', 'PTSA19', 'PCHO19', 'PBEN19', 'PPEN19', 'PAUT19'], axis = 1, level = 1 )
df_com
#df_com.set_index('Code géographique)

,Code géographique,Libellé géographique,Nbre de ménages fiscaux,Nbre de personnes dans les ménages fiscaux,Nbre d'unités de consommation dans les ménages fiscaux,Part des ménages fiscaux imposés (%),1er quartile (€),Médiane (€),3e quartile (€),Écart interquartile (€),...,9e décile (€),Rapport interdécile D9/D1,S80/S20,Indice de Gini,Part des revenus d’activité (%),dont part des salaires et traitements (%),dont part des indemnités de chômage (%),dont part des revenus des activités non salariées (%),"Part des pensions, retraites et rentes (%)",Part des autres revenus (%)
,CODGEO,LIBGEO,NBMEN19,NBPERS19,NBUC19,PMIMP19,Q119,Q219,Q319,Q3_Q1,...,D919,RD,S80S2019,GI19,PACT19,PTSA19,PCHO19,PBEN19,PPEN19,PAUT19
0,01001,L'Abergement-Clémenciat,322,819,542.7,NaN,NaN,24210,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01002,L'Abergement-de-Varey,114,267,179.5,NaN,NaN,23380,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01004,Ambérieu-en-Bugey,6713,15041,10298.9,56.0,11970.0,19690,27930.0,15970.0,...,37790.0,6.0,8.9,0.384,66.2,59.7,3.1,3.4,24.8,9.0
3,01005,Ambérieux-en-Dombes,720,1823,1204.3,NaN,NaN,24100,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01007,Ambronay,1163,2857,1892.3,63.0,17360.0,23340,30630.0,13270.0,...,39100.0,3.5,4.0,0.254,71.6,66.8,2.2,2.6,24.8,3.6

None

,Code géographique,Libellé géographique,Nbre de ménages fiscaux,Nbre de personnes dans les ménages fiscaux,Nbre d'unités de consommation dans les ménages fiscaux,Médiane (€)
,CODGEO,LIBGEO,NBMEN19,NBPERS19,NBUC19,Q219
0,01001,L'Abergement-Clémenciat,322,819,542.7,24210
1,01002,L'Abergement-de-Varey,114,267,179.5,23380
2,01004,Ambérieu-en-Bugey,6713,15041,10298.9,19690
3,01005,Ambérieux-en-Dombes,720,1823,1204.3,24100
4,01007,Ambronay,1163,2857,1892.3,23340
...,...,...,...,...,...,...
31359,97420,Sainte-Suzanne,8346,23842,15051.4,14100
31360,97421,Salazie,2469,6936,4407.0,7740
31361,97422,Le Tampon,30083,78013,50752.2,12370
31362,97423,Les Trois-Bassins,2422,6989,4441.7,13060
31363,97424,Cilaos,2125,5493,3603.4,9410

In [10]:
dflyccom = dftotale.merge(df_com, left_on='Code Commune', right_on=['Code géographique', 'CODGEO'])
dflyccom

'''Ca marche pas car len(right_on) must equal len(left_on). En fait les 2 catégories font pas la même taille et du coup ça colle mal : voir si autre jointure colle'''

ValueError: len(right_on) must equal len(left_on)